<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Group Chat</title>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/style.css">
    <script src="/client.js" defer></script>
  </head>
  <body>
    <div class ="modal" id="start">
			<form class="modal-content" id="enterForm">
				<h1 id="title">Group Chat</h1>
				<h3 id="enter">Enter the group chat</h3>
				<label id="enter-label" for="nameyourself">
					<input id="nameyourself" placeholder="Input Username" required/>
				</label>
			</form>
		</div>
    <form id="chat">
      <div id="msgs">
        <ul id="messages"></ul>
      </div>
        <input id="messagebox" required>
        <submit id="submit">Send</submit>
    </form>
  </body>
</html>
