.modal {
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #474e5d;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
	}
.modal-content {
	border-radius: 25px;
	background-color: #fefefe;
  margin: 5% auto auto auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}
#title { 
	font-size: 50px;
	font-family:'Zorque';
	text-align:center;
	margin-top:80px;
	margin-bottom:80px;
}
#enter-label {
	display: block;
	text-align:center;
	margin-top:60px;
	margin-bottom:60px;
}
#enter {
	text-align:center;
}
@font-face {
	font-family: "Zorque";
	src:url("/client/img/Zorque.woff") format("woff")
}
#nameyourself {
	text-align:center;
	padding-left:60px;
	padding-right:60px;
	padding-top: 16px;
	padding-bottom: 16px;
}
#chat {
    display:none;
    background: #033;
    width:100%;
    height:100%;
}
#messagebox {
    border: 0; 
    padding: 10px; 
    width: 90%; 
    margin:0;
}
#submit{
    width: 10%; 
    height:10%;
    color:white;
}
#msgs {
    min-width:100%;
    min-height:90%;
    width:100%;
    height:90%;
}
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }

#messages li { 
    padding: 5px 10px; 
    background: black; 
    color:#eee;
}
#messages li:nth-child(odd) {
    background: #eee; 
    color:black;
}